@font-face {
    font-family: 'Noto Sans JP';
    src: url(./assets//fonts/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Gabarito';
    src: url(./assets//fonts/Gabarito-VariableFont_wght.ttf);
}