@font-face {
    font-family: 'Noto Sans JP';
    src: url(./assets//fonts/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Gabarito';
    src: url(./assets//fonts/Gabarito-VariableFont_wght.ttf);
}

 // Sizes
 $xxs: 10px;
 $xs: 12px;
 $s: 14px;
 $m: 16px;
 $l: 18px;
 $xl: 21px;
 $xxl: 24px;
 $xxl: 36px;
 $h: 48px;
 $xh: 72px;